//
@media (min-width:768px){
    .modal-w-49{
        width: 49% !important;
    }
}
@media (min-width:991px){
    .header-hover{
        &:hover{
            background-color: $primary;
        }
    }
    .border-title-left{
        border-left: 1px solid black;
        
    }
    .border-title-right{
        border-right: 1px solid black;
    }
    .container-992{
        width: 1296px;
        padding: 0 12px;
    }
    .w-lg-190{
        width: 190px !important;
    }
}

.w-85{
    width: 85px;
}
.dropdown-divider{
    opacity: 1;
}
.object{
    object-fit: cover;
    object-position: center;
}
.object-top{
    object-fit: cover;
    object-position: top;
}
.object-center{
    object-fit: cover;
    object-position: center;
}
.footer-border{
    position: relative;
    border-top: 4px solid black;
    &::before{
      content: '';
      position: absolute;
      top: 8px;
      width: 100%;
      border-top: 1px solid black;
      z-index: 1;
    }
  }
.w-16{
    width: 16px;
    height: 16px;
}
.layout-hover{
    &:hover{
        cursor: pointer;
        color: #E6553B;
    }
}
.modal-btn{
   position: absolute;
   top: 16px;
   right: 12px;
}

