
ul {
    margin-bottom: 0;
  }
.font-family{
    font-family: "Squada One","Noto Sans" ;
}
.font-number{
  font-family: 'Paytone One',"Noto Sans" ;
}
.triangle {
  position: absolute;
  right: 1px;
  bottom: 1px;
 
  width: 0;
  height: 0;
  border-right: 16px solid #E6553B;
  border-top: 16px solid transparent;
}
.title-btn{
  position: absolute;
  right: 0;
  bottom: 0;
}

