<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <div class="bg-light border-bottom border-black border-1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
          <div class="container">
            <h1 class="fs-6 mb-0 py-8">
              <a class="navbar-brand" href="#">
                <img src="assets/images/week8-202207/logo.svg" alt="logo" style="width: 190px;">
              </a>
            </h1>
            <div class="d-flex align-items-center">
              <a class="d-lg-none nav-link active p-0 fw-bold fs-5 me-6" aria-current="page" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse flex-grow-0 bg-white bg-lg-light" id="navbarSupportedContent">
              <ul class="navbar-nav mb-lg-0">
                <li class="d-none nav-item d-lg-flex px-12 py-10 border-title-left border-title-right">
                  <input class="bg-light border-0 p-0 me-6" type="text" placeholder="搜尋作品名稱、藝術家名稱" style="width: 228px;">
                  <a class="nav-link active p-0 fw-bold" aria-current="page" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li class="nav-item border-title-right header-hover">
                  <a class="py-6 px-lg-12 py-lg-10 text-center nav-link text-black fs-6 fw-bold" href="#">探索</a>
                </li>
                <li><hr class="dropdown-divider m-0"></li>
                <li class="nav-item border-title-right header-hover">
                  <a class="py-6 px-lg-12 py-lg-10 text-center nav-link text-black fs-6 fw-bold" href="#">市值</a>
                </li>
                <li class="nav-item header-hover">
                  <a class="py-lg-6 text-lg-center px-lg-12 py-lg-10 nav-link text-black fs-lg-6 fw-lg-bold p-0" href="#"><i class="wallet fa-solid fa-wallet"></i><p class="d-lg-none bg-primary text-center py-6 fs-6 mb-6 fw-bold">連結錢包</p></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
     
    </div>
    
  

    <%- contents %>

    <footer class="bg-light">
      <div class="container">
        <p class="text-center fs-6 py-6">© ART NFT. All Rights Reserved</p>
      </div>
      
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>